/* Styles */
.users-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}