/* Styles */
.layout-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  opacity: 0.9;
  padding-top: 4rem;
}

.posts-list-scrollable {
  max-height: 550px;
  min-height: 800px;
  overflow-y: auto;
  border-radius: 30px;
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent; 
}

.posts-list-scrollable::-webkit-scrollbar {
  width: 0px; 
}

.posts-list-scrollable::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 3px; 
}

.posts-list-scrollable::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
