/* Style the comments container */

.comments-container {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background-color: whitesmoke;
}