/* Styles */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-container {
    max-width: 400px;
    padding: 20px;
    background-color: #b1dcbe;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 24px;
    background-color: #9cafd9;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    display: block;
    font-weight: bold;
}

.form-control input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-error {
    color: #f00;
    font-size: 14px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #f58486;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.submit-button:hover {
    transform: scale(1.05);
    background-color: #68bd44;
}

.loading {
    pointer-events: none;
    opacity: 0.7;
}

.text {
    font-size: 16px;
    text-align: center;
}

.login-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.login-link:hover {
    text-decoration: underline;
}